
@font-face {
    font-family: 'Amber Taste';
    src: url('fonts/AmberTaste.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #042b0f; 
    color: white; 
}

h1, h2, h3, h4, h5, h6, p, a, li, label, input, textarea, button {
    color: white; 
}

.name {
    font-family: 'Amber Taste', cursive;
    color: #ffbf00; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px 0;
}

.project {
    margin-bottom: 30px;
}

.project img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea, form button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    color: black; 
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
